pkgbase = python2-lineprofiler
	pkgdesc = Line-by-line profiler.
	pkgver = 2.1.2
	pkgrel = 1
	url = http://pypi.python.org/pypi/line_profiler
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = cython2
	depends = python2
	depends = ipython2
	source = https://pypi.python.org/packages/source/l/line_profiler/line_profiler-2.1.2.tar.gz
	sha256sums = efa66e9e3045aa7cb1dd4bf0106e07dec9f80bc781a993fbaf8162a36c20af5c

pkgname = python2-lineprofiler

